dl.form-group > dd .form-control.is-autocheck-loading,
.form-group > .form-group-body .form-control.is-autocheck-loading {
  background-image: url("images/spinners/octocat-spinner-16px.gif");
}
dl.form-group > dd .form-control.is-autocheck-successful,
.form-group > .form-group-body .form-control.is-autocheck-successful {
  background-image: url("images/modules/ajax/success.png");
}
dl.form-group > dd .form-control.is-autocheck-errored,
.form-group > .form-group-body .form-control.is-autocheck-errored {
  background-image: url("images/modules/ajax/error.png");
}